/*-------------GENERAL-------------*/

body{
    margin: 0;
    padding: 0;
    text-align: center;
}

/*-------------HEADER-------------*/
.oscuro{
    background: #000;
    opacity: 0.5;
    padding-top: 40px;
}
header{
    background-image: url(../image/large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 760px;
    color: #fff;
}
header img{
    width: 60%;
}
header .frase{
   height: 460px; 
   text-align: center;
   display: table;
}
header h1{
   font-size: 60px;
    display: table-cell;
    vertical-align: middle;
}
header .azul{
    background: #004aaf;
    height: 210px;
}
.azul h3{
    font-size: 35px;
    margin-top: 65px;
}
header button{
    background: #004aaf;
    border: 3px solid #fff 0.5;
    border-radius: 5px;
    font-size: 18px;
    padding: 3px 10px;
}
header .boton{
   margin-top: 80px; 
   width: 180px;    
}
/*-------------NUESTROS SERVICIOS-------------*/
.servicios h4{
    text-align: center;
    color: skyblue;
    font-size: 30px;
    margin: 90px 0;
}
.icon-container{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    text-align: center;
    font-size: 60px;
    color: skyblue;
}
.container h5{
    text-align: center;
    color: #17a0c9;
    font-size: 19px;
    width: 170px;
    margin: auto;
}
.container .video{
   width: 100px; 
}
.container p{
    text-align: center;
    font-size: 16px;
    margin-top: 25px;
}
/*-------------EJEMPLO-------------*/
.separador{
    margin: 60px 0;
}
.ejemplo h4{
    color: skyblue;
    font-size: 30px;
    width: 180px;
    display: inline-block;
    text-align: center;
}
.logo{
    width: 50%;
}
.ejemplo p{
    text-align: left;
}
.ejemplo .flecha{
    margin-bottom: 60px;
}
.ejemplo .inf{
    text-align: left
}
.inf h5{
    margin-left: 0;
    width: 200px;
    padding: 0;
    color: #000;
}
.inf h6{
    color: skyblue;
    margin-top: 30px;
}
.inf p{
   margin-top: 10px;
}
.inf ul li{
    margin-bottom: 7px;
}
/*------------USER-------------*/
.user h4{
    color: skyblue;
    font-size: 30px;
    width: 180px;
    display: inline-block;
}
.uso p{
    text-align: left    
}
.uso ul li{
    text-align: left;
    margin-bottom: 7px;
    
}
.uso small{
    color: skyblue;
    font-weight: bold;
}
/*------------PRUEBA------------*/
.container .prueba{
    color: #fff;
}
.prueb{
    background: #0688cc;
}
.prueba p{
    margin-top: 5px;
    margin-bottom: 20px
}
.prueba button{
   background: #0688cc;
   border-radius: 5px;
   border: 3px solid #fff 0.5;
    font-size: 18px;
    padding: 3px 15px;
}
.prueba .boton{
    margin-top: 30px;
}
/*------------FOOTER------------*/
footer{
    background: #0e1824;
    color: #fff;
}
footer .write{
    text-align: left
}
footer p{
    width: 150px;
    padding: 0;
}
footer .icon{
    width: 150px;
    height: 50px;
    margin: 0 auto;
    text-align: right;
    font-size: 30px;
    color: skyblue;
    margin-right: 0;
}
footer .copy{
    float: right;
    width: 300px;
}
/*------------CONTACTANOS------------*/

.user-testing{
    background-image: url(../image/large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.formulario{
    background: #fff;
    width: 700px;
    margin: auto;
    margin-top: 70px;
    border-top: 6px solid skyblue;
}
.formulario h3{
    text-align: left;
    padding-left: 35px;
}
.formulario ul li{
    list-style: none;
    text-align: left;
    margin-bottom: 17px;
    font-weight: bold;
}
.formulario .i{
    width: 77%;
    float: left;
    margin-bottom: 10px;
}
.formulario textarea{
    float: left;
    width: 77%;
    margin-bottom: 10px;
    height: 130px;
}
.formulario .boton{
    float: left;
    background:#19a6e0; 
    color: #fff;
    text-align: center;
    width: 25%;
}
.formulario .box{
    float:left;
    width: 50%;
    margin: 15px 73px;
}
.formulario .powered{
    text-align: left;
    margin-left: 20px;
    width: 35%;
    }
.formulario .report{
    text-align: right;
    width: 20%;
    margin-left: 290px;
}
hr{
    width: 600px;
    margin-left: 35px;
}
.formulario a{
    color: #061980;
    text-decoration: underline;
}
